*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  width: 180px;
  height: 40px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Muller', sans-serif;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.title {
  position: relative;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

.title::before {
  position: absolute;
  content: url("../img/reasons/line.svg");
  width: 119px;
  height: 6px;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.header {
  min-height: 829px;
  padding-top: 20px;
  background: url(../img/header/header-bg.jpg) center center/cover no-repeat;
  color: #fff;
  text-align: center;
}

.header-top {
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-call {
  text-align: right;
}

.header-top_call {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.header-top_phone {
  font-size: 20px;
  font-weight: 700;
}

.header_title {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 500;
}

.header_subtitle {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
}

.header_place {
  display: block;
  margin-bottom: 98px;
  font-size: 16px;
}

.header_button {
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 140px;
  border: 1px solid #fff;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .6s;
  transition: .6s;
}

.header_button:hover {
  background-color: #db883c;
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-social-list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.header-social_link {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffffff;
  border-radius: 100%;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.header-social_link:hover {
  border-color: #e28234;
  background-color: #e28234;
  -webkit-transition: .3s;
  transition: .3s;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8f2e4;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.about-descr {
  max-width: 390px;
  font-weight: 400;
  font-size: 16px;
}

.about-descr_title {
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: 500;
}

.about-descr_title__bold {
  display: block;
  margin-top: 15px;
  font-size: 48px;
  text-transform: uppercase;
}

.about-descr-icons .yoga::before {
  position: absolute;
  content: url("../img/about/yoga_mat.png");
  top: -3px;
  left: 0;
  width: 30px;
  height: 20px;
}

.about-descr-icons .sea::before {
  position: absolute;
  content: url("../img/about/sea.png");
  top: -7px;
  left: 0;
  width: 30px;
  height: 20px;
}

.about-descr-icons .trip::before {
  position: absolute;
  content: url("../img/about/plane.png");
  top: -3px;
  left: 0;
  width: 30px;
  height: 20px;
}

.about-descr_icon {
  position: relative;
  min-height: 20px;
  margin-bottom: 26px;
  padding-left: 55px;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
}

.about_descr {
  margin-bottom: 40px;
  font-weight: 300;
}

.reasons {
  padding-top: 80px;
  padding-bottom: 80px;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reasons-list-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.schedule {
  padding-top: 80px;
  padding-bottom: 80px;
}

.schedule-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.schedule-list-item {
  width: 220px;
  height: 180px;
  margin-bottom: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: #fff8e6;
}

.schedule-list-item_date {
  margin-top: 0;
  font-weight: 300;
  font-size: 14px;
}

.schedule-list-item_program {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 18px;
}

.schedule-list-item_link {
  display: block;
  margin-bottom: 18px;
  color: #5a56af;
  font-size: 12px;
  font-weight: 400;
}

.schedule-list-item_button {
  display: block;
  margin: 0 auto;
  font-size: 12px;
  color: #e28234;
  border: 2px solid #e28234;
  -webkit-transition: .3s;
  transition: .3s;
}

.schedule-list-item_button:hover {
  color: #ffffff;
  background-color: #e28234;
  -webkit-transition: .3s;
  transition: .3s;
}

.ayurveda {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ayurveda-descr {
  margin-bottom: 60px;
  text-align: center;
}

.ayurveda_descr {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
}

.ayurveda_subtitle {
  margin-bottom: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.ayurveda-list {
  max-width: 640px;
  margin: 0 auto;
}

.ayurveda-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.ayurveda-list-item_img {
  width: 120px;
  height: 120px;
  margin-right: 40px;
}

.ayurveda-list-item_descr {
  font-size: 18px;
  font-weight: 300;
}

.center {
  padding-top: 30px;
}

.center .container {
  position: relative;
}

.center .container::before {
  position: absolute;
  content: '';
  width: 725px;
  height: 265px;
  top: -20px;
  left: -10px;
  z-index: -1;
  background-color: #f8f2e4;
}

.center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.center-img {
  margin: 0;
  width: 477px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.center_img {
  width: 139px;
  height: 139px;
  margin: 10px;
}

.center-text {
  max-width: 430px;
}

.center_title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
}

.center_subtitle {
  margin-top: 0;
  font-weight: 300;
  font-size: 14px;
}

.center_descr {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.center-service {
  max-width: 190px;
  padding: 0;
  list-style-image: url("../img/center/mark.png");
}

.center-service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}

.center-service_item {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 12px;
}

.advantages {
  padding-top: 80px;
  padding-bottom: 115px;
  background-color: #f8f2e4;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list_item {
  position: relative;
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  margin-bottom: 55px;
  padding-top: 160px;
  text-align: center;
}

.advantages-list_item__1::before {
  position: absolute;
  content: url("../img/advantages/pic1.png");
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.advantages-list_item__2::before {
  position: absolute;
  content: url("../img/advantages/pic2.png");
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.advantages-list_item__3::before {
  position: absolute;
  content: url("../img/advantages/pic3.png");
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.advantages-list_item__4::before {
  position: absolute;
  content: url("../img/advantages/pic4.png");
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.advantages-list_item__5::before {
  position: absolute;
  content: url("../img/advantages/pic5.png");
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.advantages-list_item__6::before {
  position: absolute;
  content: url("../img/advantages/pic6.png");
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.advantages-list_title {
  font-weight: 700;
  font-size: 18px;
}

.advantages-list_descr {
  font-weight: 300;
  font-size: 16px;
}

.work {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.work_title {
  margin-bottom: 65px;
}

.work_subtitle {
  margin-bottom: 60q;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.work-list-item {
  position: relative;
  max-width: 125px;
  font-size: 12px;
}

.work-list-item::before {
  position: absolute;
  content: url("../img/work/arrow.png");
  width: 25px;
  height: 17px;
  top: 35px;
  left: 105%;
}

.work-list-item:last-child::before {
  content: none;
}

.work-list-item_link {
  color: #ea7231;
  font-size: 12px;
}

.price {
  padding-top: 80px;
  padding-bottom: 75px;
  background-color: #f8f2e4;
}

.price-wrapper {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 820px;
  max-height: 280px;
}

.price-tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-height: 210px;
  padding: 50px 50px 45px 50px;
  background-color: #fff;
}

.price-tours_days__bold {
  font-weight: 700;
}

.price-tours_cost {
  color: #dd490f;
}

.price-tours_cost__bold {
  font-weight: 700;
}

.price-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 55px 15px 50px;
  max-height: 70px;
  background-color: #f4e1b6;
}

.price-special_button {
  color: #e28234;
  border: 2px solid #e28234;
}

.price-special_button:hover {
  color: #ffffff;
  background-color: #e28234;
}

.price-inclusive-list {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 45px;
  font-size: 18px;
  color: #4e4e4e;
  list-style-image: url("../img/price/mark.svg");
}

.price-inclusive-list_item {
  padding-left: 10px;
}

.price_inclusive-on {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.price_inclusive-off {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.price-list-off {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-size: 18px;
  color: #4e4e4e;
  list-style-image: url("../img/price/x.svg");
}

.price-list_item-off {
  padding-left: 10px;
}

.safety {
  padding-top: 80px;
  padding-bottom: 80px;
}

.safety_descr {
  margin-bottom: 60px;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.safety_get {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.safety-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.safety-item {
  max-width: 185px;
  text-align: center;
  font-size: 14px;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color: #fcf9f1;
}

.contacts_title {
  font-weight: 500;
  font-size: 22px;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-social {
  margin-right: 135px;
}

.contacts-social_title {
  font-weight: 500;
  font-size: 16px;
}

.contacts-social-list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}

.contacts-social_link {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  border: 2px solid #e28234;
  border-radius: 100%;
  color: #e28234;
  -webkit-transition: .3s;
  transition: .3s;
}

.contacts-social_link:hover {
  color: #ffffff;
  background-color: #e28234;
  -webkit-transition: .3s;
  transition: .3s;
}

.contacts-phone_title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
}

.contacts-phone_subtitle {
  margin-bottom: 7px;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.contacts_phone {
  margin: 0;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  font-size: 28px;
}

.contacts_offices {
  font-weight: 500;
  font-size: 16px;
}

.contacts .offices-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts .offices-item {
  margin-right: 10px;
}

.contacts .offices-item_descr {
  font-size: 11px;
}

.footer {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #383838;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link_img {
  margin-right: 30px;
}

.footer-link_descr {
  font-size: 12px;
  color: #ffffff;
}

.footer_link {
  font-size: 18px;
  color: #ffffff;
}

.footer-requisites {
  font-size: 12px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */
