*,::before,::after
	box-sizing: border-box

body
	margin: 0
	font-size: 18px
	font-family: 'Muller', sans-serif
	font-weight: 400
	font-style: normal			

.container
	max-width: 960px
	margin: 0 auto
	padding-left: 10px
	padding-right: 10px	

.button
	width: 180px
	height: 40px
	background-color: transparent
	text-transform: uppercase
	font-size: 12px
	font-family: 'Muller', sans-serif
	font-weight: 700

.title
	position: relative
	margin-bottom: 100px
	font-weight: 500
	font-size: 36px
	text-align: center
	&::before
			position: absolute
			content: url('../img/reasons/line.svg')
			width: 119px
			height: 6px
			top: 20px
			left: 50%
			transform: translateX(-60px)	

.header
	min-height: 829px
	padding-top: 20px
	background: url(../img/header/header-bg.jpg) center center/cover no-repeat
	color: #fff
	text-align: center
	&-top
		margin-bottom: 180px
		display: flex
		justify-content: space-between
		align-items: center
		&-call			
			text-align: right
		&_call			
			display: block
			margin-bottom: 10px
			font-size: 14px
		&_phone
			font-size: 20px
			font-weight: 700	
	&_title
		margin-bottom: 35px
		text-transform: uppercase
		font-size: 60px
		font-weight: 500
	&_subtitle
		display: block
		margin-bottom: 15px
		text-transform: uppercase
		font-size: 20px
	&_place
		display: block
		margin-bottom: 98px
		font-size: 16px
	&_button
		display: block
		width: 300px
		height: 60px
		margin: 0 auto
		margin-bottom: 140px
		border: 1px solid #fff
		font-size: 18px
		text-transform: uppercase
		color: #fff
		transition: .6s
		&:hover			
			background-color: #db883c
			border: none
			transition: .3s
	&-social
		display: flex
		justify-content: center
		align-items: center
		width: 30px
		height: 30px
		border: 1px solid #ffffff
		border-radius: 100%
		color: #ffffff
		font-size: 15px		
		transition: 1s	
		&:hover
			background-color: #db883c
			border-color: #db883c
			transition: .3s
		&-wrapper
			display: flex
			justify-content: space-between
			align-items: center
			max-width: 115px
			margin: 0 auto
		&_link
			text-decoration: none				
//End .header

//About
.about
	padding-top: 50px
	padding-bottom: 50px
	background-color: #f8f2e4
	&-wrapper		
		display: flex
		justify-content: space-between
		align-items: top
	&-descr
		max-width: 390px		
		font-weight: 400
		font-size: 16px
		&_title
			margin-bottom: 45px
			font-size: 30px
			font-weight: 500
			&__bold
				display: block
				margin-top: 15px
				font-size: 48px
				text-transform: uppercase
		&-icons			
			.yoga								
				&::before
					position: absolute
					content: url('../img/about/yoga_mat.png')
					top: -3px
					left: 0
					width: 30px
					height: 20px
			.sea						
				&::before
					position: absolute
					content: url('../img/about/sea.png')
					top: -7px
					left: 0
					width: 30px
					height: 20px
			.trip								
				&::before
					position: absolute
					content: url('../img/about/plane.png')
					top: -3px
					left: 0
					width: 30px
					height: 20px				
		&_icon
			position: relative
			min-height: 20px
			margin-bottom: 26px
			padding-left: 55px
			font-weight: 300
			font-size: 18px
			text-transform: uppercase
	&_descr
		margin-bottom: 40px
		font-weight: 300
// End .about

//Reasons
.reasons
	padding-top: 80px
	padding-bottom: 80px	
	&-list
		display: flex
		justify-content: space-between
		align-items: top
		flex-wrap: wrap
		&-item
			flex-basis: 30%
			text-align: center
//End reasons

//Schedule
.schedule
	padding-top: 80px
	padding-bottom: 80px
	&-list
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap											
		&-item
			width: 220px
			height: 180px
			margin-bottom: 20px
			padding-top: 30px
			text-align: center
			background-color: #fff8e6
			&_date
				margin-top: 0
				font-weight: 300
				font-size: 14px
			&_program
				margin-top: 0
				margin-bottom: 17px
				font-weight: 500
				font-size: 18px
			&_link
				display: block
				margin-bottom: 18px
				color: #5a56af
				font-size: 12px
				font-weight: 400			
			&_button
				display: block
				margin: 0 auto
				font-size: 12px
				color: #e28234
				border: 2px solid #e28234	
				transition: .3s		
				&:hover
					color: #ffffff
					background-color: #e28234
					transition: .3s
//End schedule

//Ayurveda
.ayurveda
	padding-top: 80px
	padding-bottom: 80px
	&-descr
		margin-bottom: 60px
		text-align: center
	&_descr		
		margin-bottom: 22px
		font-size: 18px
		font-weight: 300
	&_subtitle
		margin-bottom: 60px
		text-align: center
		font-size: 24px
		font-weight: 500
	&-list
		max-width: 640px
		margin: 0 auto
		&-item
			display: flex
			align-items: center
			margin-bottom: 30px						
			&_img
				margin-right: 40px
			&_descr
				font-size: 18px
				font-weight: 300
//End Ayurveda

//Center
.center
	padding-top: 30px
	.container
		position: relative
		&::before
			position: absolute
			content: ''
			width: 725px
			height: 265px
			top: -20px
			left: -10px
			z-index: -1
			background-color: #f8f2e4
	&-wrapper
		display: flex
		justify-content: space-between
		align-items: start
	&-img
		margin: 0
		width: 477px
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	&_img
		width: 139px
		height: 139px		
		margin: 10px								
	&-text
		max-width: 430px
	&_title
		margin-bottom: 10px
		font-weight: 500
		font-size: 30px
	&_subtitle
		margin-top: 0
		font-weight: 300
		font-size: 14px						
	&_descr
		font-weight: 300
		font-size: 12px
		line-height: 15px
	&-service
		max-width: 190px
		padding: 0	
		list-style-image: url("../img/center/mark.png")
		&-wrapper
			display: flex
			justify-content: space-between
			padding-left: 20px			
		&_item
			margin-bottom: 10px			
			font-weight: 300
			font-size: 12px									
			
	